{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block body %} 
<div id="project_details">
    <h1>{{ project.title }}</h1>
    <div class="media">
        <div class="row">
        {% if project.image %}
        <div class="col-md">
            <img src="{{ project.image }}?width=640" />
        </div>
        {% endif %}
        {% if project.video %}
        <div class="col-md">
            <video width="640" height="480" controls>
                <source src="{{project.video}}" />
            </video>
        </div>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 description">
            {{ project.description}}
        </div>
    </div>
    
</div>
 {% endblock %}